.container {
    display: flex;
    flex-direction: column;
}

.titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: black;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: darkcyan;
    color: white;
    height: 50px;

    .item {
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6em;

        &:hover {
            background-color: darkslategrey;
        }

        @media screen and (max-width: 510px) {
            height: 50px;
            width: 100%;
        }
    }

    @media screen and (max-width: 510px) {
        flex-direction: column;
        height: auto;
    }

}