body {
    font-family: sans-serif;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;
    justify-content: space-around;
    overflow: auto;
  }
  
  .grid-container > img {
    width: 100%;
  }