$color-base1: rgb(64, 64, 168);
$color-base2: rgb(235, 54, 54);
$color-base3: rgb(45, 170, 66);
$color-texto: darkgray;

$colors: $color-base1, $color-base2, $color-base3;

body {
    display: flex;
    flex-direction: column;
}

@for $k from 1 through length($colors) {
    $color: nth($colors, $k);

    .container-#{$k} {
        display: inline-flex;

        .box {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            border: 1px solid lightgray;
            border-radius: 10px;
            height: 50px;
            margin: 5px;
            padding: 10px;
        }
    }

    @for $i from 1 through 4 {
        .base-color#{$k} {
            background-color: $color;
            color: white;
        }

        .container-#{$k} .darken-#{$i} {
            background-color: darken($color, $i * 10%);
            color: $color-texto;
        }

        .container-#{$k} .lighten-#{$i} {
            background-color: lighten($color, $i * 10%);
            color: $color-texto;
        }
    }
}