body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #141414;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    background-color: #141414;
    top: 0;
    margin-bottom: 10px;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    & img {
        width: 75px;
        margin: 10px;
    }
}

.header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;

    & div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 50%;
        border-radius: 5px;
        text-align: center;
        font-size: 12px;
        margin: 5px;
    }

    & div:hover {
        background-color: white;
        color: black;
    }

}

.section-title {
    font-size: 20px;
    margin-top: 20px;
}

main {
    display: flex;
    flex-direction: column;

    & .top {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        & .top-item img {
            margin: 10px 0px;
            width: 100%;
        }
    }

    & .first,
    .second {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-bottom: 20px;

        & .item img {
            width: 100%;
        }
    }

}

#top-text-5 {
    font-weight: 400;
    display: inline;
}

#top-text-3 {
    display: none;
}

.item {
    transition: all 1s;
}

.item:hover {
    transform: scale(1.2);
}


//Tablet
@media only screen and (max-width: 1024px) {


    #top-text-5 {
        font-weight: 400;
        display: inline;
    }
    
    #top-text-3 {
        display: none;
    }
    
    main .first,
    main .second {
        display: grid;
        grid-template-columns: repeat(4, 25%)
    }

    .item:nth-last-child(-n + 2) {
        grid-row: 2 / 3;
        grid-column: -5 / -3;
    }

    .item:nth-last-child(-n + 1) {
        grid-row: 2 / 3;
        grid-column: -3 / -1;
    }

}

//Low resolution Tablet
@media only screen and (max-width: 900px) {

    #top-text-5 {
        display: none;
    }

    #top-text-3 {
        display: inline;
        font-weight: 600;
    }

    .platform-title {
        display: none;
    }

    main .first,
    main .second {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .item:nth-last-child(-n + 2) {
        grid-row: 2 / 3;
        grid-column: -4 / -3;
    }

    .item:nth-last-child(-n + 1) {
        grid-row: 2 / 3;
        grid-column: -2 / -1;
    }

    main .top {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .top-item:nth-last-child(n + 4) {
        display: none;
    }
}

//Mobile
@media only screen and (max-width: 600px) {

    #top-text-5 {
        display: none;
    }

    #top-text-3 {
        display: inline;
        font-weight: 600;
    }

    header {
        height: 170px;
    }

    .header-logo,
    .header-buttons {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .header-logo img {
        width: 75%;
    }

    .header-buttons div {
        font-size: 15px;
    }

    .platform-title {
        display: none;
    }

    .section-title {
        font-size: 30px;
        margin-top: 20px;
    }

    main .top {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    main .first,
    main .second {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .top-item:nth-last-child(n + 4) {
        display: none;
    }
}