$base-font: 'Comic Sans MS';
$principal-font: Arial, Helvetica, sans-serif;
$secondary-font: Times;
$base-color: red;
$important-color: darkred;
$warning-color: indianred;
$font:$secondary-font;
$box-shadow: -10px 10px 10px;

