@use 'styleB' as *;

.container {
    display: flex;
    flex-direction: column;
    font-family: $principal-font;
}

.box {
    display: flex;
    border: 1px black solid;
    width: 100px;
    height: 70px;
    border-radius: 5px;

    .text {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 10px;
        font-family: $base-font;
    }
}

.base {
    background-color: $base-color;
}

.important {
    background-color: $important-color;
}

.warning {
    background-color: $warning-color;
}

.secondary-font,
.principal-font {
    height: 40px;

    .text {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
    }
}