$base-font: "Comic Sans MS", "Comic Sans", bold;
$principal-font: Arial, Helvetica, sans-serif;
$secondary-font: 'Courier New', Courier, monospace;
$base-color: blue;
$important-color: navy;
$warning-color: aqua;

.secondary-font {
    font: {
        family: Times;
        weight: bold;
    }
}

.shadow {
    box-shadow: 10px 10px 10px;
    .text {
        display: flex;
        align-items: center;
     }
}